* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.1rem;
  color: rgb(87, 86, 86);
  font-family: poppins, 'Times New Roman', Times, serif;
  font-weight: 500;
}

.flex {
  display: flex;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(241, 236, 236);
}

main {
  width: 60%;
  background-color: white;

  /* padding: 2rem 0rem; */
  box-shadow: 10px 10px 10px rgb(154, 147, 147);
}

.placeholder {
  font-style: italic;
  color: rgb(154, 150, 150);
  border: none;
  width: 60%;
}

ul {
  list-style-type: none;
}

.todo-heading,
.input-field,
.task-container {
  border-bottom: 2px solid rgb(228, 226, 226);
  padding: 1rem;
}

.todo-heading {
  justify-content: space-between;
}

.fa-refresh {
  padding-top: 5px;
}

.fa-ellipsis-v {
  color: rgb(154, 150, 150);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
}

.footer p {
  color: rgb(154, 150, 150);
}

.task-content {
  margin-right: 2rem;
}

.task-container {
  position: relative;
}

.index {
  margin-right: 1rem;
  position: absolute;
  right: 0;
}

.fa-pencil,
.fa-trash {
  margin-right: 2.5rem;
  position: absolute;
  right: 0;
}

.fa-trash {
  margin-right: 1rem;
}

.edit {
  width: 40%;
}

.hide {
  display: none;
}

.add-btn {
  background: transparent;
  border: none;
}

.fa-sign-in {
  color: rgb(99, 96, 96);
}

form {
  justify-content: space-between;
}

.clear-completed {
  padding: 1rem 4rem;
}

.clear-completed:hover {
  color: black;
  cursor: pointer;
}

.strike {
  text-decoration: line-through;
}

.unstrike {
  text-decoration: none;
}
